<main>
  <div class="header">
      <div class="tf">
        <span class="title-h">
            <i class="building outline icon"></i>{{centre?.label}}
            <a class="ui mini label blue">{{centre?.responsable?.nom}} {{centre?.responsable?.prenom}}</a>
            <i class="cog icon" (click)="openDialog()"></i>
        </span>
        <span>{{actualDate}}</span>
    </div>
    <div class="stats">
      <div class="ui mini statistic">
        <div class="value">
          4
        </div>
        <div class="label">
          Vehicules
        </div>
      </div>
      <div class="ui mini statistic">
        <div class="value">
          1123£
        </div>
        <div class="label">
          Total
        </div>
      </div>
      <div class="ui mini statistic">
        <div class="value">
          110£
        </div>
        <div class="label">
          Primes
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="vis-data">
    <centre-old-chart></centre-old-chart>
    <centre-actual-chart></centre-actual-chart>
  </div>

  <centre-planning></centre-planning>
</main>
