<main>
    <div class="tt">
      <span>
        <h2><i class="building outline icon"></i>Centres</h2>
      </span>
      <span class="date">{{actualDate}}</span>
    </div>
    <mat-card>

      <button class="ch-btn" mat-mini-fab (click)="openDialog()">
        <mat-icon>show_chart</mat-icon>
      </button>
      <button class="add-btn" mat-mini-fab (click)="openDialog()">
          <mat-icon>add</mat-icon>
      </button>
      <table class="ui center aligned small compact stackable selectable striped fixed single line table">
        <thead>
          <tr>
            <th>centre</th>
            <th>adresse</th>
            <th>telephone</th>
            <th>Croissance (MP)</th>
            <th>responsable</th>
            <th>code</th>
            <th>Ch.Act</th>
            <th>Vehicules prise</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of centres; let i = index" (click)="navigate(c.id)">
            <td class="centre">{{c.label}}</td>
            <td>{{c.adresse}}</td>
            <td>{{c.telephone}}</td>
            <td>
              <span [ngClass]="croissanceClass(c.croissancemp, i)">{{c.croissancemp}}%</span>
            </td>
            <td class="responsable">
              <i class="minus icon" *ngIf="c.responsable == null"></i>
              <span *ngIf="c.responsable != null">{{c.responsable.nom}}</span>
            </td>
            <td>
              {{c.code}}
            </td>
            <td class="ch-a">
              456 £
            </td>
            <td>
              <a class="ui small circular label">12</a>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </main>
  