<main mat-dialog-content>
  <span class="tt">
    <i class="building outline icon"></i>
    <h2 *ngIf="!data.id">Nouveau centre</h2>
    <h2 *ngIf="data.id">Centre Robinson</h2>
  </span>
  <div class="ui divider"></div>
  <form class="ui small form" [formGroup]="centreForm" novalidate>
    <div class="two fields">
      <div class="field">
        <label>Label</label>
        <div class="ui input left icon">
          <i class="building outline icon"></i>
          <input type="text" formControlName="label" placeholder="label..." />
        </div>
      </div>
      <div class="field">
        <label>Adresse</label>
        <div class="ui input left icon">
          <i class="map marker alternate icon"></i>
          <input type="text" formControlName="adresse" placeholder="adresse..." />
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Ouverture</label>
        <div class="ui input left icon">
          <i class="clock outline icon"></i>
          <input type="text" [ngxMatTimepicker]="ouverture" [format]="24" formControlName="ouverture" placeholder="ouverture..." />
        </div>
        <ngx-mat-timepicker #ouverture></ngx-mat-timepicker>
      </div>
      <div class="field">
        <label>Fermeture</label>
        <div class="ui input left icon">
          <i class="clock outline icon"></i>
          <input type="text" [ngxMatTimepicker]="fermeture" [format]="24" formControlName="fermeture" placeholder="fermeture..." />
        </div>
      </div>
    </div>
    <ngx-mat-timepicker #fermeture></ngx-mat-timepicker>
    <div class="two fields">
      <div class="field">
        <label>Téléphone</label>
        <div class="ui input left icon">
          <i class="phone icon"></i>
          <input type="text" formControlName="telephone" placeholder="téléphone..." />
        </div>
      </div>
      <div class="field">
        <label>Code</label>
        <div class="ui input left icon">
          <i class="key icon"></i>
          <input type="text" formControlName="code" placeholder="code..." />
        </div>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Responsable</label>
        <mat-form-field appearance="fill">
            <mat-label>Responsable</mat-label>
            <mat-select formControlName="responsable">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

      </div>
      <div class="field">
        <label>Formule</label>
        <mat-form-field appearance="fill">
            <mat-label>Formule</mat-label>
            <mat-select formControlName="formule" [(value)]="selected">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="field">

    </div>
    <div class="two field">
      <div class="actions">
        <button class="ui button small" mat-dialog-close>
          fermer
        </button>

        <button class="ui button small to-right blue" (click)="centreEnregistre()">
          enregistrer
        </button>
      </div>
    </div>
  </form>
</main>
