mat-toolbar {
  box-shadow: 0px 1px 6px #061c2c;
  background: linear-gradient(45deg, #061c2c 80%, #212230);
  height: 3.5rem;
  z-index: 2;
  mat-icon{
    color: #aeafbf;
  }
}

.bar-toolbar {
  width: 100%;
  display: flex;
    height: 100%;
  .company-title {
    cursor: pointer;
    font-family: 'Pacifico';
    color: #aeafbf;// #363232;

    span {
      color: #cf4141;
    }
  }

  .left-bar,
  .right-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-bar {
    justify-content: right;
    flex: 1;
  }
}

mat-sidenav {
  height: 100%;
  width: 150px;
  background: linear-gradient(45deg, #212222, #061c2c);
  box-shadow: 0px 0px 4px #081d2b;
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
}

mat-sidenav-content {
  width: 100%;
  padding: 10px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app {
    height: 100%;
  }
}
.app-body{
    height: 100%;
}

.logo-img {
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/logo4bg.png');
    width: 100%;
    height: 10rem;
    background-size: 100% 100%;
    animation: rotateAnimation 10s infinite;
  }
  .w-150{
      width: calc(100% - 150px);
  }
  .w-100{
      width: 100%;
  }
  mat-nav-list{
    .divider{
      margin: 0;
    }
    a:hover{
      background: #15334482 !important;
      &::after, &::before{
        width: 100%;
      }
      +.divider{
        width: 0;
      }
    }
    a{
      transition: all .3s;
      color: #b0b5b9;
      font-weight: 500;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        transition: all .5s;
        width: 0%;
        height: 2px;
        background: linear-gradient(45deg, #213d52 50%, transparent);
        bottom: 0;
      }
      &::before{
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        background: linear-gradient(45deg, #213d52 50%, transparent);
        top: 0;
        transition: .3s;
      }

      ::ng-deep .mat-list-item-content{
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }